* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'League Spartan', sans-serif;
	font-size: 1.6rem;
	height: 100vh;
	width: 100vw;
	background-color: white;
}
.container {
	height: 100vh;
	width: 100vw;
	&__box {
		padding: 3.5em 2.5em 0;
		text-align: center;
		.main__box {
			h1 {
				font-size: 3.5rem;
				color: hsla(300, 1%, 23%, 0.841);
			}
			p {
				padding-top: 1em;
				color: hsl(180deg 4% 34%);
				line-height: 1.5em;
			}
		}
		.cream__box {
			margin-top: 2em;
			border-radius: 14px;
			overflow: hidden;
			.img-one {
				width: 100%;
			}
			.img-two {
				display: none;
			}
		}
	}

	.opinions__box {
		padding: 2em 2em 1em;
		.opinion__box {
			margin: 1em 0;
			background-color: hsl(300, 1%, 41%);
			border-radius: 14px;
			color: hsl(0, 0%, 100%);
			.person {
				padding: 2em 1.7em 1em;
				display: flex;
				&-img {
					margin-right: 1.5em;
					img {
						width: 65px;
						height: 65px;
						border-radius: 50%;
						object-fit: cover;
					}
				}
				&-name {
					h6 {
						font-size: 1.7rem;
					}
					p {
						margin-top: 0.3em;
						color: hsl(180deg 35% 90%);
					}
				}
			}
			.person-opinion {
				padding: 1em 1.7em 1.5em;
			}
		}
	}
}

// MEDIA QUERIES
@media (min-width: 576px) {
	.container {
		&__box {
			.main__box {
				h1 {
					font-size: 4rem;
				}
			}
			.cream__box {
				display: flex;
				justify-content: center;
				width: 50%;
				margin: 4em auto;
				.img-one {
					width: 65%;
				}
				.img-two {
					display: block;
					width: 35%;
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.container {
		display: flex;
		&__box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 50%;
			.main__box {
				h1 {
					font-size: 4.5rem;
				}
			}
			.cream__box {
				width: 100%;
			}
		}
		.opinions__box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 50%;
		}
	}
}
